/*======== Global CSS========*/
body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Poppins', sans-serif;
}

.hero-section .hero-content p, .dream-area .dream-content p {
  color: dimgray;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.hero-section .hero-content h2, .dream-area .dream-content h2, .experiences-area .experiences-title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.hero-section .hero-content h2 span, .dream-area .dream-content h2 span, .experiences-area .experiences-title h2 span {
  color: orange;
  text-transform: uppercase;
}

.hero-section .hero-content h5, .dream-area .dream-content h5, .experiences-area .experiences-content .single-experience h5 {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  margin-top: 50px;
}

.hero-section .hero-content a.cs-btn, .dream-area .dream-content a.cs-btn {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  border: 1px solid orange;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-image: -webkit-linear-gradient(45deg, lightSalmon, tomato);
  background-image: -o-linear-gradient(45deg, lightSalmon, tomato);
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 5px 30px;
}

.hero-section .hero-content a.cs-btn:hover, .dream-area .dream-content a.cs-btn:hover {
  color: orange;
  background: #fff;
}

/*=========Hero section=========*/
.hero-section {
  background: url("../images/top-banner.png");
  background-repeat: no-repeat;
  padding: 50px 0px 80px 0px;
}

.hero-section .hero-content {
  padding-top: 20px;
}

.hero-section .hero-image img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

/*=============== Dream Area ==============*/
.dream-area {
  background: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 0px 80px 0px;
}

.dream-area .dream-image img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

.dream-area .dream-content {
  padding-top: 20px;
}

/*=============== Experiences Area ==============*/
.experiences-area {
  background: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 50px 0px 80px 0px;
}

.experiences-area .container-fluid {
  width: 92%;
}

.experiences-area .experiences-content .single-experience {
  -webkit-box-shadow: 10px 10px 40px gray;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  padding: 30px;
  height: 300px;
}

.experiences-area .experiences-content .single-experience h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
}

.experiences-area .experiences-content .single-experience h5 {
  color: orange;
  margin-top: 20px;
}

.experiences-area .experiences-content .experience-one {
  border-left: 6px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(lightSalmon), to(tomato));
  -webkit-border-image: -webkit-linear-gradient(top, lightSalmon, tomato);
  -o-border-image: -o-linear-gradient(top, lightSalmon, tomato);
  border-image: -webkit-gradient(linear, left top, left bottom, from(lightSalmon), to(tomato));
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}

.experiences-area .experiences-content .experience-two {
  border-left: 6px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(cyan));
  -webkit-border-image: -webkit-linear-gradient(top, blue, cyan);
  -o-border-image: -o-linear-gradient(top, blue, cyan);
  border-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(cyan));
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
