/*======== Global CSS========*/
body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Poppins', sans-serif;
}

/*=========Hero section=========*/
.hero-section {
  background: url("../images/top-banner.png");
  background-repeat: no-repeat;
  padding: 50px 0px;
}

.hero-section .hero-content {
  padding-top: 20px;
}

.hero-section .hero-content h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.hero-section .hero-content h2 span {
  color: orange;
  text-transform: uppercase;
}

.hero-section .hero-content h5 {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  margin-top: 50px;
}

.hero-section .hero-content p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.hero-section .hero-content a.cs-btn {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  border: 1px solid orange;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-image: -webkit-linear-gradient(45deg, lightSalmon, tomato);
  background-image: -o-linear-gradient(45deg, lightSalmon, tomato);
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 5px 30px;
}

.hero-section .hero-content a.cs-btn:hover {
  color: orange;
  background: #fff;
}

.hero-section .hero-image img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}
